@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Fredoka", sans-serif;
}

nav {
    /* border: 2px solid blue; */
    background-color: #f0f9ff;
    padding-block: 1rem;
}
.innerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navRight {
    /* border: 2px solid black; */
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.genLayout {
    max-width: 1000px;
    margin: auto;
}
.navItems {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navItems > a {
    color: #0a0650;
    text-decoration: none;
    text-transform: capitalize;
    font-size:13px ;
    font-weight: 700;
}
.navItems > a:first-child {
 color: #0a0650;
}

.navIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-items: center;
}
.navIcons > button {
    width: 130px;
    background-color: #180ec7;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 700;
    text-transform: capitalize;
}
.navIcon > button:last-child {
    background-color: transparent;
    color: #0a0650;
    border: 1px solid #f0f9ff;
}
/* banner styling */
.secOne{
    padding-block: 2rem;
}
.bannerWrapper {
    /* background-color: red; */
    border: 2px solid transparent;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.bannerContent {
    border: 2px solid transparent;
    flex: 1;
    /* margin-top: 3rem; */
}
.bannerContent > h1 {
    color: #0a0650;
    font-size:2rem;
    font-weight:500;
    text-transform: capitalize;
}
.bannerContent > h1 > span {
    color: #180ec7;
}
.bannerContent> p {
    margin-block: 1rem;
}
.trackBtn {
    display: flex;
    border: 2px solid transparent ;
    align-items: center;
    gap: 2rem;
    padding-top: 1.2rem;
}
.trackBtn > button {
    background-color: #180ec7;
    border: none;
    color: #fff;
    padding:.3rem 1.4rem ;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 12px;
}
.bannerImg {
    padding-left: 1.5rem;
    border: 2px solid transparent;
    flex: 1;
    margin-top: 2rem;
    /* width: 10rem; */
    /* height: 15rem; */
}

.bannerImg > img {
    width: 100%;
    height: 30rem;
    /* object-fit: cover; */
}

 /* responsive  code*/
@media (min-width: 320px) and (max-width: 500px) {
    .innerNav{
        width: calc(100% - 40px);
    }
    .navRight{
        display: none;
    }
    
}
