@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Fredoka", sans-serif;
}

nav {
    /* border: 2px solid blue; */
    background-color: #f0f9ff;
    padding-block: 1rem;
    position: fixed;
    width: 100%;
}
.innerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navRight {
    /* border: 2px solid black; */
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.genLayout {
    max-width: 1000px;
    margin: auto;
}
.navItems {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navItems > a {
    color: #0a0650;
    text-decoration: none;
    text-transform: capitalize;
    font-size:13px ;
    font-weight: 700;
}
.navItems > a:first-child {
 color: #0a0650;
}

.navIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-items: center;
}
.navIcons > button {
    width: 130px;
    background-color: #180ec7;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 700;
    text-transform: capitalize;
}
.navIcon > button:last-child {
    background-color: transparent;
    color: #0a0650;
    border: 1px solid #f0f9ff;
}
/* banner styling */
.secOne{
    padding-block: 4.3rem;
}
.bannerWrapper {
    /* background-color: red; */
    border: 2px solid transparent;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.bannerContent {
    border: 2px solid transparent;
    flex: 1;
    /* margin-top: 3rem; */
}
.bannerContent > h1 {
    color: #0a0650;
    font-size:2rem;
    font-weight:500;
    text-transform: capitalize;
}
.bannerContent > h1 > span {
    color: #180ec7;
}
.bannerContent> p {
    margin-block: 1rem;
}
.trackBtn {
    display: flex;
    border: 2px solid transparent ;
    align-items: center;
    gap: 2rem;
    padding-top: 1.2rem;
}
.trackBtn > button {
    background-color: #180ec7;
    border: none;
    color: #fff;
    padding:.3rem 1.4rem ;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 12px;
}
.bannerImg {
    padding-left: 1.5rem;
    border: 2px solid transparent;
    flex: 1;
    margin-top: 2rem;
    /* width: 10rem; */
    /* height: 15rem; */
}

.bannerImg > img {
    width: 100%;
    height: 30rem;
    /* object-fit: cover; */
}
.about {
    /* padding: 3rem; */
    /* padding-block: 2rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutImg {
    flex: 1;
}
.aboutContent {
    flex: 1;
}
.titleBage {
    background-color: #f2d117;
    width: 25%;
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
    font-weight: 600;
    margin: 1rem 0;
}
.aboutContent > h1 {
    color: #0a0650;
    text-transform: capitalize;
    /* font-weight: 500; */
    font-size: 20px;
    width: 250px;
    margin-block: 1rem ;
}
.trackInfo {
    border: 2px solid transparent;
    max-width: 350px;
    margin: auto;
}
.trackInfo > h5 {
    margin: auto;
}
.trackInfo > h2 {
    text-align: center;
}
.trackBtns {
    padding-top:1rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}
select {
    background-color: #f0f9ff;
    padding: .2rem .2rem;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    color: #0a0650;
    display: block;
    margin: 1rem auto;
}
.trackBtns > button:nth-child(2), .trackBtns > button:nth-child(3) {
      background-color:transparent;
    border: 1px solid #180ec7;
    color: #180ec7;
    padding:.3rem 1.4rem ;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 12px;
}
.trackBtns > button:nth-child(1) {
     background-color:#180ec7;
    border: 1px solid #180ec7;
    color: #fff;
    padding:.3rem 1.4rem ;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 12px;
}

.gridPic {
    border: 2px solid transparent;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto, auto;
}

.grd5 {
    grid-column: 1/5;    
}

.pricing{
    border: 2px solid transparent;
    margin: 10rem 0rem;
    padding: 5rem 0rem;
}

.ptners {
    border: 2px solid transparent;
    align-items: center;
}
.ptnrs > :nth-child(1){
    margin: auto;
}

 .h {
    border: 2px solid transparent;
    padding: 1rem 0rem;
    text-align: center;
    margin: auto;
}

.price {
    border:2px solid transparent;
    margin: 6rem 0rem;
    padding: 1rem 0rem;
}
.price > :nth-child(1){
    margin: auto;
}

.gridd {
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    gap: 0.5rem;
}

.price > .btn {
    border: 2px transparent ;
    padding-left: 25rem;
    margin: auto;
    padding-top: 3rem;
}

.price .btn > button {
    border-radius: 2px solid transparent;
    background-color: #20c464;
    padding: 0.4rem;
    border-radius: 25px;
}

.location {
    border: 2px solid blue;
    padding: 3rem 0rem;
}

.location > :nth-child(1) {
    margin: auto;
}

.flex {
    border: 2px solid red;
    padding: 1rem 0rem;
}

.h3 {
    display: flex;
}
.h3 > h3 {
    flex: 1;
    color: #0a0650;
}

.loc {
    background-color: #f0f9ff;
    border: 2px solid transparent;
}


.container {
    border: 2px solid pink;
    padding: 3rem 0rem;
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.container > :nth-child(1) {
    margin: auto;
}

.container > .h > h2 {
    color: #0a0650;
}
/* FAQ */
.faq {
  background: white;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.hh {
    color: #180ec7;
}

.faq-question {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  color: #0a0650;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 0;
}

.icon {
    background-color: #f0f9ff;
    padding: 0.3rem 0.5rem;
    border-radius: 100%;
}

.faq-answer {
  margin-top: 10px;
  display: none;
  color: #555;
  font-size: 15px;
}

.faq-answer.show {
  display: block;
}

/* Contact */
.contact-section {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 10%;
  flex-wrap: wrap;
  margin-top: 50px;
}

.contact-left {
  flex: 1;
  min-width: 250px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  background-color: #0023ff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.social-icons i {
  margin-right: 10px;
  font-size: 20px;
  color: #0023ff;
}

/* Footer */
footer {
  background-color: #0023ff;
  color: white;
  padding: 40px 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  flex: 2;
  min-width: 250px;
}

.footer-left p {
  margin-top: 10px;
  font-size: 14px;
}

.footer-links {
  display: flex;
  flex: 3;
  justify-content: space-between;
  min-width: 300px;
  flex-wrap: wrap;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 6px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-socials i {
  margin-right: 10px;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30
}



 /* responsive  code*/
@media (min-width: 320px) and (max-width: 500px) {
    .innerNav{ 
        width: calc(100% - 40px);
    }
    .navRight{
        display: none;
    }
    .bannerWrapper{
        width: calc(100% - 40px);
        flex-direction: column;
    }
    .bannerImg{
        width: 100%;
    }
    
}
 /* about rensponsive code */
 @media(min-width:320px) and (max-width: 500px){
    .about{
        flex-direction: column;
        width: calc(100% -40px);
    }

    .aboutContent{
        width: 100%;
    }
    .aboutImg{
        width: 100%;
        margin-top: 18rem;
    }
 }
